<div id="divContent">
    <div class="hero-container">
        <div class="content">
            <h1 class="text-center">Appacitive <%- platform %> <span class="no-wrap">Developer Center</span></h1>
            <h2 class="mtl text-center">Which product are you integrating?</h2>
            <div class="container-fluid">
                <div class="row platform">
                    <div class="col-xs-12 col-md-4">
                        <a class="fadeInLeft" href="#core" title="Integrate Appacitive Core in your app."><i class="sprite-core"></i><span class="name">Core</span></a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a class="fadeInLeft" href="#push" title="Integrate Appacitive Push in your app."><i class="sprite-push"></i><span class="name">Push Notification</span></a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a class="fadeInLeft" href="#graph" title="Integrate Appacitive Graph in your app."><i class="sprite-graph"></i><span class="name">Graph</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-8">
                <div class="row ptm">
                    <div class="col-md-12">
                        <h3>Getting Started</h3>
                        <p>Integrate any of above mentioned products into your <%- platform %> based app using our <%- platform %> library. <a class="no-wrap" href="getting-started" title="Getting Started with <%- platform %> SDK">Integrate the library</a>  into your <%- platform %> project.</p>
                        <p class="mbs">To get you started, do go through following resources</p>
                        <div class="row">
                            <div class="col-md-5">
                                <ul class="mll circle-disc ul-cozy">
                                    <li><a title="How to install <%- platform %> SDK?" href="getting-started/installation/">Installation</a></li>
                                    <li><a title="What are the <%- platform %> SDK conventions?" href="getting-started/sdk-conventions/">SDK Conventions</a></li>
                                    <li><a title="How to extend <%- platform %> SDK?" href="getting-started/extending-sdk/">Extending SDK</a></li>
                                    <li><a title="How to debug <%- platform %> SDK?" href="getting-started/debugging-sdk/">Debugging SDK</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="mll circle-disc ul-cozy">
                                    <li><a title="Error Space" href="getting-started/error-space/">Error Space</a></li>
                                    <li><a title="Third Party Integrations" href="getting-started/third-party-integrations/">Third Party Integrations</a></li>
                                    <li><a title="Checkout complete reference of <%- platform %> SDK API." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>" target="_blank">API Docs <span class="plxs glyphicon glyphicon-share-alt"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="core" class="row ptl mtl">
                    <div class="col-md-12">
                        <h3>Core</h3>
                        <p class="mbs">Appacitive Core consists of following features.</p>
                        <ul class="man core-item-container">
                            <li>
                                <div class="core-item">
                                    <span class="core-item-data"></span>
                                    <h3>Data Store</h3>
                                    <a title="Checkout guides on how to store and retrieve data from Appacitive Cloud using <%- platform %> SDK." href="data-store/guides.html">Guides</a>
                                    <a title="Follow the instructions in the tutorial and learn how to manage data using <%- platform %> SDK." href="data-store/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on data management." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/data_objects" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="core-item">
                                    <span class="core-item-users"></span>
                                    <h3>Users</h3>
                                    <a title="Guide on how to do user management using <%- platform %> SDK." href="users/guides.html">Guides</a>
                                    <a title="Instructions explaining user management in <%- platform %> SDK." href="users/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on user management." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/user-management_users" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="core-item">
                                    <span class="core-item-acl"></span>
                                    <h3>Access Control</h3>
                                    <a title="Managing security in your app using <%- platform %> SDK." href="access-control/guides.html">Guides</a>
                                    <a title="Tutorial on security management in <%- platform %> app using <%- platform %> SDK." href="access-control/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on access control." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/files_upload" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="core-item">
                                    <span class="core-item-email"></span>
                                    <h3>Emails</h3>
                                    <a title="Read about how to send emails from your app using <%- platform %> SDK." href="emails/guides.html">Guides</a>
                                    <a title="Tutorial on sending emails using <%- platform %> SDK." href="emails/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on email." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/email_sending-a-simple-email" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="core-item">
                                    <span class="core-item-social"></span>
                                    <h3>Social</h3>
                                    <a title="Guides on integrating social network in your app." href="social/guides.html">Guides</a>
                                    <a title="Go through the tutorial on integrating social network in your app." href="social/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on login using social networks like facebook." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/files_upload" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="core-item">
                                    <span class="core-item-files"></span>
                                    <h3>Files</h3>
                                    <a title="Guides explaining how to upload and download files from Appacitive platform." href="files/guides.html">Guides</a>
                                    <a title="Instructions to upload and download files in your app using <%- platform %> SDK." href="files/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on file management." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/files_upload" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="push" class="row ptl mtl">
                    <div class="col-md-12">
                        <h3>Push Notification</h3>
                        <p>Push is a great way to send timely and relevant targeted messages to users of your app and enhance their overall experience and keep them informed of the latest developments on your app. Appacitive allows you to send push notifications to your users in a variety of ways.</p>
                        <ul class="man core-item-container">
                            <li>
                                <div class="core-item">
                                    <span class="core-item-push"></span>
                                    <h3>Push</h3>
                                    <a title="Follow the guide on sending push notifications using Appacitive Platform." href="push/guides.html">Guides</a>
                                    <a title="Checkout tutorial on push notifications." href="push/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on push notification." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/data_objects" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="core-item">
                                    <span class="core-item-devices"></span>
                                    <h3>Devices</h3>
                                    <a title="Read about managing <%- platform %> devices on Appacitive Platform using <%- platform %> SDK." href="devices/guides.html">Guides</a>
                                    <a title="Tutorial on managing <%- platform %> devices." href="devices/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on device management." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/user-management_users" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="graph" class="row ptl mtl">
                    <div class="col-md-12">
                        <h3>Graph</h3>
                        <p>Graph queries offer immense potential when it comes to traversing and mining for connected data. There are two kinds of graph queries, projection (Graph API) and filter (Graph Query).</p>
                        <ul class="man core-item-container">
                            <li>
                                <div class="core-item">
                                    <span class="core-item-project"></span>
                                    <h3>Graph API</h3>
                                    <a title="Learn about how to consume graph api in your app using <%- platform %> SDK." href="graph-api/guides.html">Guides</a>
                                    <a title="Tutorial explaining graph api integration in your app using <%- platform %> SDK." href="graph-api/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on graph api." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/data_objects" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="core-item">
                                    <span class="core-item-filter"></span>
                                    <h3>Graph Query</h3>
                                    <a title="Learn about how to do graph query in your app using <%- platform %> SDK." href="graph-query/guides.html">Guides</a>
                                    <a title="Tutorial explaining graph query integration in your app using <%- platform %> SDK." href="graph-query/tutorial.html">Tutorial</a>
                                    <a title="Checkout api reference on graph query." href="http://help.appacitive.com/v1.0/index.html#<%- help_lang %>/user-management_users" target="_blank">API Reference <i class="glyphicon glyphicon-share-alt"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row ptm">
                    <div class="col-md-12">
                        <h3><a href="downloads">Downloads</a></h3>
                        <p>Download our <%- platform %> library – <a href="#" class="no-wrap">Latest Stable – 4.0.0</a></p>
                    </div>
                </div>
                <div class="row ptl mtl">
                    <div class="col-md-12">
                        <h3><a href="/<%- platform %>/samples">Samples</a></h3>
                        <p class="mbs">We have a number of sample implementations for your reference:</p>
                        <ul class="man">
                            <li><a href="#">Movie App</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row ptl mtl">
                    <div class="col-md-12">
                        <h3>GitHub</h3>
                        <p class="mbs">You can checkout the source code for the SDK on <a href="">GitHub</a>. To contribute to the project you can <a href="">Fork us on GitHub</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>